/* 강채은 로고 폰트 */
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

/* 포트폴리오 폰트 */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  width: 75%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
}

.header-logo a {
  font-family: "Lobster", sans-serif;
  font-style: normal;
  color: #364a68;
  font-size: 20px;
}
.header-nav {
  display: flex;
}

.header-nav a {
  margin: 0 15px;
  font-size: 16px;
  color: #364a68;
  font-weight: 500;
}
#SkySec {
  width: 100%;
  height: 600px;
}

#SkySec::after {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 1000px;
  background: url(./img/sky.jpg) no-repeat center/cover;
  z-index: -1;
}
.SkySec-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.SkySec-box {
  font-size: 2rem;
  text-align: center;
}
.SkySec-txt {
  font-size: 37px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

.blink {
  animation: blink 0.7s infinite;
  font-size: 2.5rem;
}

@keyframes blink {
  to {
    opacity: 0;
  }
}
/* -----------------About---------------- */
#About {
  width: 100%;
  height: 400px;
  background-color: white;
  padding-top: 40px;
}

.section-title {
  font-size: 30px;
  color: #364a68;
  text-align: center;
}

.icon {
  display: flex;
  margin: auto;
  justify-content: space-around;
  width: 75%;
  height: 40%;
  margin-bottom: 20px;
}

.icon-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon i {
  font-size: 26px;
  padding: 0 50px;
}

.icon p {
  font-size: 18px;
  font-weight: bold;
}

.about-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-intro p {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

/* -----------------Skills---------------- */

#Skills {
  width: auto;
  height: 900px;
  background-color: #e6f2fd;
  padding-top: 40px;
}

#Skills .mouse {
  text-align: center;
  margin-bottom: 80px;
}

.Skills-icon {
  margin: 0 auto;
  text-align: left;
  width: 80%;
}

.Front-End,
.Back-End,
.Tools {
  display: flex;
  justify-content: left;
  margin-bottom: 80px;
}

#Skills h5 {
  font-size: 20px;
}

.icon-box {
  width: 100px;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 60px;
  margin-top: 10px;
  overflow: hidden;
  transition: width 0.3s ease;
  cursor: pointer;
  position: relative;
}

.icon-box:hover {
  width: 320px;
}
.content {
  position: absolute;
  left: 110px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  white-space: nowrap;
  padding-left: 10px;
}

.icon-box:hover .content {
  opacity: 1;
}

.icon-box img {
  position: absolute;
  left: 10px;
  width: 80px;
  height: 80px;
  transition: none;
}

/* -----------------Projects---------------- */
#Projects {
  width: auto;
  height: 100%;
  background-color: white;
  padding-top: 40px;
}

/* --------------------card------------------------ */
.project {
  width: 900px;
  height: 800px;
  perspective: 1100px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.project:first-of-type {
  margin-top: 80px;
}

.project-card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 0.4s;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 2px solid black;
  border-radius: 20px;
}

.card-front img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
/* ------------------------------CardBack--------------------------------- */
.card-back {
  background-color: white;
  transform: rotateY(180deg);
  padding: 40px 50px;
  font-size: 18px;
  color: black;
}

.project:hover .project-card {
  transform: rotateY(180deg);
}

.card-back div p {
  margin-bottom: 15px;
}

.card-detail h3 {
  font-size: 30px;
  margin: 20px 0;
}

.card-skill {
  margin-bottom: 10px;
}

.card-skill .category {
  font-size: 18px;
  font-weight: bold;
}
